      html, body {
        height: 98%;
        margin: 10px 10px 5px;
        padding: 0;
        width: 98%;
      }
      body {
        background-color: #FFFFFF;
        color: #333333;
        font-family:"Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
      }
      a {
        color: #336699;
      }
 
        h1{
        color: #222;
        text-shadow: 0px 2px 3px #555;
        }

      #rightPane {
        background-color: #FCFFF5;
        border-bottom-right-radius: 4px;
        
        border-top-right-radius:4px;
        border:1px solid #222;
        border-left:none;
        margin: 0;
        padding: 0;
        width: 250px;
      }
      #mapCanvas {
        border:1px solid #222;
        border-top-left-radius:4px;
        border-bottom-left-radius: 4px;
        margin: 0;
        padding: 0;
      }
      .file-upload span {
        display:none;
    	}
     .file-upload-status {
    	vertical-align: middle;
    	padding: 5px 11px;
    	font-size: 12px;
    	color: #888;
    	background: #F8F8F8;
    	}