   
    #rightPane {
        width: 170px;
    }
   /*File upload form styling */
    .field { 
	   padding:4px 4px;
	}
    .file-upload {
    	overflow: hidden;
    	display: inline-block;
    	position: relative;	
    	vertical-align: middle;
    	text-align: center;
    	border: 2px solid #666666;
    	background: #444444;
    	-moz-border-radius: 6px;
    	-webkit-border-radius: 6px;
    	border-radius: 6px;
      color: #fff;
      text-shadow: 0px 2px 3px #555;
      cursor:pointer;
      }
    	
    .file-upload:hover { 
    	background-color: #454545;
    	}

    
    .file-upload input {
    	position: absolute;
    	top: 0;
    	left: 0;
    	margin: 0;
    	font-size: 70px;
    	opacity: 0;
    	filter: alpha(opacity=0);
      z-index:2;
    	}
    
    .file-upload strong { 
    	font: normal 1.75em arial,sans-serif; 
    	}	
    	
    .file-upload span {
    	position: absolute;
    	top: 0;
    	left: 0;
    	display: inline-block;

    	padding-top: .45em;
    	}

    .file-upload { height: 3em; }
    .file-upload,
    .file-upload span {	width: 10em; }	
    
